.a11y-visually-hidden,
.is-a11y .button__text {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  white-space: nowrap
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html {
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}

button,
input {
  overflow: visible
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button
}

button,
select {
  text-transform: none
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
  appearance: button
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  border: 0;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-rendering: auto
}

select {
  background: transparent
}

ol,
ul {
  list-style: none
}

iframe {
  vertical-align: top
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

b,
strong {
  color: inherit
}

a {
  -webkit-text-decoration-skip: objects;
  text-decoration-skip: objects
}

p {
  margin-top: 0;
  margin-bottom: 0
}

img {
  bottom: 0
}

:focus {
  outline: none
}

svg:not(:root) {
  overflow: hidden;
  display: block
}

[hidden] {
  display: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}

cite {
  font-size: 16px
}

label[for] {
  cursor: pointer
}

html {
  color: var(--color-base);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: var(--font-family-book)
}

.theme-dating {
  --color-primary-light: #fff7d8;
  --color-primary: #ffc629;
  --color-primary-accent: #454650
}

:root {
  --color-base: #1d252c;
  --color-base-deep: #282828;
  --color-grey: #757575;
  --color-grey-light: #f1f1f1;
  --color-error: #c84a39;
  --page-max-width: 1414px;
  --horizontal-gap: 16px;
  --horizontal-gap-lg: 32px;
  --vertical-gap: 16px;
  --horizontal-gap-large: calc(var(--horizontal-gap) * 2);
  --vertical-gap-large: calc(var(--horizontal-gap) * 2);
  --font-family-book: "Circular20WebCyr-Book", -apple-system, "San Francisco", "Helvetica Neue", Roboto, "Segoe WP", "Segoe UI", sans-serif;
  --font-family-bold: "Circular20WebCyr-Bold", -apple-system, "San Francisco", "Helvetica Neue", Roboto, "Segoe WP", "Segoe UI", sans-serif;
  --font-family-black: "Circular20WebCyr-Black", -apple-system, "San Francisco", "Helvetica Neue", Roboto, "Segoe WP", "Segoe UI", sans-serif;
  --font-family-extra-black: "CircularXXWeb-ExtraBlack", -apple-system, "San Francisco", "Helvetica Neue", Roboto, "Segoe WP", "Segoe UI", sans-serif;
  --font-weight-regular: normal;
  --font-weight-book: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --header1-font-size: 34px;
  --header1-line-height: 109%;
  --header2-font-size: 30px;
  --header2-line-height: 109%;
  --header3-font-size: 30px;
  --header3-line-height: 109%;
  --header4-font-size: 22px;
  --header4-line-height: 109%;
  --caption-font-size: 14px;
  --caption-line-height: 100%;
  --p1-font-size: 14px;
  --p1-line-height: 18px;
  --button-font-size: 14px;
  --button-line-height: 18px;
  --font-size-base: 16px;
  --line-height-base: 1.5;
  --button-white-border: #282828;
  --header-height: 75px;
  --mobile-panel-z-index: 100;
  --page-progress-z-index: 90;
  --page-social-links-z-index: 80;
  --header-z-index: 85;
  --page-article-gap: 32px;
  --base-control-height: 40px;
  --control-height-lg: 56px;
  --input-height-base: var(--base-control-height);
  --input-height-lg: var(--control-height-lg);
  --button-size-base: var(--base-control-height);
  --color-primary: #ffc629;
  --theme-color-dating: #ffc629;
  --theme-color-bff: #009abf;
  --theme-color-bizz: #ff6c37;
  --header-bg-color: #ffc629;
  --logo-color: #fff;
  --logo-width: 160px;
  --content-max-inner-width: 1190px;
  --content-section-padding-horizontal: 50px;
  --content-section-padding-vertical: 50px;
  --content-max-width: calc(var(--content-max-inner-width) + 2 * var(--content-section-padding-horizontal))
}

@-webkit-keyframes draw-dash {
  to {
    stroke-dashoffset: 0
  }
}

@keyframes draw-dash {
  to {
    stroke-dashoffset: 0
  }
}

@-webkit-keyframes draw-underline {
  to {
    background-size: 100% 2px
  }
}

@keyframes draw-underline {
  to {
    background-size: 100% 2px
  }
}

.animated--order-1 {
  -webkit-animation-delay: .4s !important;
  animation-delay: .4s !important
}

.animated--order-2 {
  -webkit-animation-delay: .8s !important;
  animation-delay: .8s !important
}

.animated--order-3 {
  -webkit-animation-delay: 1.2s !important;
  animation-delay: 1.2s !important
}

.animated--order-4 {
  -webkit-animation-delay: 1.6s !important;
  animation-delay: 1.6s !important
}

.is-responsive {
  min-height: 0
}

.h1 {
  color: var(--text-color, var(--color-base));
  font-weight: var(--font-weight-black, 900);
  font-size: var(--font-size, 34px);
  line-height: var(--line-height, 1.15);
  font-family: var(--font-family-extra-black, "CircularXXWeb-ExtraBlack");
  margin: 0;
  padding: 0
}

.h1.is-inherited {
  font-size: inherit
}

.h1 p+p {
  margin-top: 1em
}

.h1.is-responsive {
  font-weight: var(--font-weight-black, 900);
  font-size: var(--font-size, 34px);
  line-height: var(--line-height, 1.15);
  font-family: var(--font-family-extra-black, "CircularXXWeb-ExtraBlack");
  --font-size: clamp(34px, (28px + 1.875vw) * var(--resize-speed, 1), 40px)
}

.h2 {
  color: var(--text-color, var(--color-base));
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--font-size, 20px);
  line-height: var(--line-height, 1.09);
  font-family: var(--font-family-bold, "Circular20WebCyr-Bold");
  margin: 0;
  padding: 0
}

.h2.is-inherited {
  font-size: inherit
}

.h2 p+p {
  margin-top: 1em
}

.h2.is-responsive {
  --font-size: clamp(20px, (10px + 3.125vw) * var(--resize-speed, 1), 30px)
}

.h2.is-responsive,
.h3 {
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--font-size, 20px);
  line-height: var(--line-height, 1.09);
  font-family: var(--font-family-bold, "Circular20WebCyr-Bold")
}

.h3 {
  color: var(--text-color, var(--color-base));
  margin: 0;
  padding: 0
}

.h3.is-inherited {
  font-size: inherit
}

.h3 p+p {
  margin-top: 1em
}

.h3.is-responsive {
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--font-size, 20px);
  line-height: var(--line-height, 1.09);
  font-family: var(--font-family-bold, "Circular20WebCyr-Bold");
  --font-size: clamp(20px, (10px + 3.125vw) * var(--resize-speed, 1), 30px)
}

.h4 {
  color: var(--text-color, var(--color-base));
  font-weight: var(--font-weight-book, 400);
  font-size: var(--font-size, 14px);
  line-height: var(--line-height, 1.28);
  font-family: var(--font-family-book, "Circular20WebCyr-Book");
  margin: 0;
  padding: 0
}

.h4.is-inherited {
  font-size: inherit
}

.h4 p+p {
  margin-top: 1em
}

.h4.is-responsive {
  font-weight: var(--font-weight-book, 400);
  font-size: var(--font-size, 14px);
  line-height: var(--line-height, 1.28);
  font-family: var(--font-family-book, "Circular20WebCyr-Book");
  --font-size: clamp(14px, (3px + 3.4375vw) * var(--resize-speed, 1), 25px)
}

.caption {
  color: var(--text-color, var(--color-base));
  font-weight: var(--font-weight-black, 900);
  font-size: var(--font-size, 12px);
  line-height: var(--line-height, 1.1);
  font-family: var(--font-family-black, "Circular20WebCyr-Black");
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0;
  padding: 0
}

.caption.is-inherited {
  font-size: inherit
}

.caption p+p {
  margin-top: 1em
}

.caption.is-responsive {
  font-weight: var(--font-weight-black, 900);
  font-size: var(--font-size, 12px);
  line-height: var(--line-height, 1.1);
  font-family: var(--font-family-black, "Circular20WebCyr-Black");
  --font-size: clamp(12px, (8px + 1.25vw) * var(--resize-speed, 1), 16px);
  text-transform: uppercase;
  letter-spacing: .1em
}

.p-1 {
  color: var(--text-color, var(--color-base));
  font-weight: var(--font-weight-book, normal);
  font-size: var(--p1-font-size, 14px);
  line-height: var(--p1-line-height, 18px);
  font-family: var(--font-family-book, "Circular20WebCyr-Book");
  margin: 0;
  padding: 0
}

.p-1.is-inherited {
  font-size: inherit
}

.p-1 p+p,
.p-1+.p-1 {
  margin-top: 1em
}

b,
strong {
  font-weight: 600;
  font-family: var(--font-family-bold)
}

.is-branded {
  display: block;
  color: var(--color-primary)
}

.badoo .is-branded {
  --color-primary: #783cfa
}

.has-inlined-text .is-branded,
.is-branded.is-inlined {
  display: inline
}

.is-italic {
  margin-right: .2ch;
  font-style: italic
}

.has-underline {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-primary)), to(var(--color-primary)));
  background-image: linear-gradient(0deg, var(--color-primary) 0, var(--color-primary) 100%);
  background-position: 0 calc(100% - 4px);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  -webkit-transition: background-size .4s ease-in;
  transition: background-size .4s ease-in
}

.is-opened-mobile-nav .has-underline {
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
  text-decoration-color: transparent
}

.animations-collection .has-underline {
  background-size: 0 2px
}

.animations-collection .has-underline.animated {
  -webkit-animation: draw-underline .4s ease-in forwards;
  animation: draw-underline .4s ease-in forwards
}

.has-circle {
  position: relative;
  display: inline-block;
  margin-right: .2ch;
  white-space: nowrap
}

.has-circle:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% + 20px);
  height: 60%;
  content: "";
  border: 2px solid var(--color-primary);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none
}

.animations-collection .has-circle:before {
  content: none
}

.is-opened-mobile-nav .has-circle:before {
  border-color: transparent
}

.has-circle .inner-circle {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% + 20px);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000
}

.animations-collection .has-circle.animated .inner-circle {
  -webkit-animation: draw-dash .6s linear forwards;
  animation: draw-dash .6s linear forwards
}

.has-circle .is-italic {
  margin-right: 0
}

.text-extra-space .h4 {
  line-height: 1.15
}

.formatted-text {
  font-family: var(--font-family-book)
}

.formatted-text h1,
.formatted-text h2,
.formatted-text h3,
.formatted-text h4,
.formatted-text h5,
.formatted-text h6 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.4
}

.formatted-text b+*,
.formatted-text p+*,
.formatted-text strong+* {
  margin-top: 1em
}

.formatted-text b[style] {
  font-size: inherit !important
}

.formatted-text ol,
.formatted-text ul {
  padding-left: 0
}

.formatted-text ol li+li,
.formatted-text ul li+li {
  margin-top: 11px
}

.is-one-line {
  white-space: nowrap
}

.layout {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  overflow: hidden;
  max-width: 100vw;
  min-height: 100%;
  background: #fff
}

.layout--background-inherited {
  background: inherit
}

.layout__content,
.layout__header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.layout__content {
  position: relative;
  max-width: 1680px;
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

.layout__content--wide {
  max-width: none
}

.layout__content--hpadded {
  padding-right: 20px;
  padding-left: 20px
}

.layout__content--vpadded {
  padding-top: 25px;
  padding-bottom: 25px
}

.layout__content--top-padded-gap {
  padding-top: 25px
}

.layout__content--bottom-padded-gap {
  padding-bottom: 25px
}

.layout__content--top-padded-md {
  padding-top: 40px
}

.layout__content--bottom-padded-md {
  padding-bottom: 40px
}

.layout__content--top-padded-lg {
  padding-top: 50px
}

.layout__content--bottom-padded-lg {
  padding-bottom: 50px
}

.layout__content--top-padded-xlg {
  padding-top: 65px
}

.layout__content--bottom-padded-xlg {
  padding-bottom: 65px
}

.layout>.layout__content:last-of-type {
  padding-bottom: 25px
}

.layout__content--centered {
  text-align: center
}

.layout__content--promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}

.layout__footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-top: auto
}

.layout__footer+.layout__footer {
  margin-top: 0
}

.layout__footer--hpadded {
  padding-right: 70px;
  padding-left: 70px
}

.layout__footer--vpadded {
  padding-top: 25px;
  padding-bottom: 25px
}

.layout__footer--extra-margin {
  margin-top: 100px
}

.layout--centered-content>.layout__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-top: auto
}

.layout--centered-content>.layout__content:last-of-type {
  margin-bottom: auto
}

.layout--stretched-content>.layout__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh
}

.ie11 .page {
  display: none
}

.page__progress {
  position: fixed;
  z-index: var(--page-progress-z-index);
  top: 0;
  right: 0;
  left: 0
}

.page__social-links {
  position: fixed;
  z-index: var(--page-social-links-z-index);
  bottom: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.page__section {
  display: block
}

.page__section:empty {
  display: none
}

.page__media {
  position: relative;
  z-index: -1;
  overflow: hidden;
  padding-top: 66.67%;
  background-color: var(--color-primary-light);
  -o-object-fit: cover;
  object-fit: cover
}

.page__media-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: auto !important;
  max-height: unset !important;
  height: auto !important;
  margin: 0 !impo...
