@font-face {
  font-family: 'Circular20WebCyr-Book';
  src: url('Circular20WebCyr-Book.woff') format('woff');
  font-display: fallback;
}

@font-face {
  font-family: 'Circular20WebCyr-Book';
  src: url('Circular20WebCyr-Book.woff2') format('woff2');
  font-display: fallback;
}

@font-face {
  font-family: 'Circular20WebCyr-Bold';
  src: url('Circular20WebCyr-Bold.woff') format('woff');
  font-display: fallback;
}

@font-face {
  font-family: 'Circular20WebCyr-Bold';
  src: url('Circular20WebCyr-Bold.woff2') format('woff2');
  font-display: fallback;
}

@font-face {
  font-family: 'Circular20WebCyr-Black';
  src: url('Circular20WebCyr-Black.woff') format('woff');
  font-display: fallback;
}

@font-face {
  font-family: 'Circular20WebCyr-Black';
  src: url('Circular20WebCyr-Black.woff2') format('woff2');
  font-display: fallback;
}
